.main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
    background-color: #61dafb;
    color: white;
    cursor: pointer;

    position:relative;
    top: 50vh;
    left: 45vw;

    

    -webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	transition: all 0.4s;
}

.main-button-text{
    text-align: center;
}
